.myContainer {
    margin:auto;
    width:1720px ;
}

svg {
    width:1700px;
    height:1600px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#tipSVG {
    width:600px;
    height:500px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#my_dataviz{
    width:auto; 
    height:auto;
    padding:10px;
}

#tipDiv{
    width: auto; 
    height: auto;
    padding:10px;
}

input[type="time"]::-webkit-clear-button {
    display: none;
  }

input,
label {
    margin: .4rem 0;
}
